*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --color-main: #efefef;
    --color-primary: #286870;
    --color-secondary: #ff7a18;

    --color-background: #262626;
    /* --color-title: ; */
    /* --color-links: #ff7a18;  css-tricks */
    --color-links: #27AE60;


    /* --color-primary: #001219; */
    /* --color-secondary: #005F73; */
    /* 0A9396 94D2BD E9D8A6 EE9B00 CA6702 BB3E03 AE2012 9B2226  */
    --rich-black-fogra-29: #001219ff;
    --blue-sapphire: #005f73ff;
    --viridian-green: #0a9396ff;
    --middle-blue-green: #94d2bdff;
    --medium-champagne: #e9d8a6ff;
    --gamboge: #ee9b00ff;
    --alloy-orange: #ca6702ff;
    --rust: #bb3e03ff;
    --rufous: #ae2012ff;
    --ruby-red: #9b2226ff;
    /* --color-links: #ff7a18; */
}

html {
    font-family: Blanco, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: clamp(12px, .8rem + .25vw, 20px);
    font-weight: 400;
    line-height: 1.7;
}

body {
    background-color: var(--color-background);
    /* background-position: top 58px center; */
    background-repeat: no-repeat;
    /* background-image: radial-gradient(50% 50% at top center, rgba(0, 0, 0, .66), #262626), var(--featured-img); */
    background-image: url(../images/seyi-ariyo-g42A22TR8k8-unsplash.jpg);
    color: var(--color-main);
}


h1 {
    color: var(--color-primary);
    font-family: Impact;
}

h2,
h3 {
    color: var(--color-secondary);
    /* font-family: Impact; */
}

p {
    font-family: Arial;
    color: var(--color-main);
}

a,
a:visited,
a:hover,
a:active {
    color: var(--color-links);
    /* TODO: Check the fonts */
    font-family: MD Primer Bold, Rubik, Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
    font-style: normal;
    font-weight: 700;
    /* text-transform: uppercase; */
    font-size: 1rem;
    -webkit-margin-end: 0.66rem;
    margin-inline-end: 0.66rem;
    text-decoration: none;
}

.farsi {
    direction: rtl;
}

main {
    width: 90vw;
}

.header {
    /* background-color: goldenrod; */

}

.header nav li {
    /* list-style: none; */
    display: inline;
}

#nav-bar {
    padding: 5px 0px 20px 10px;
}





/* body {
    background-color: gray;
    color: #219EBC;
} */



/* img {
    width: 400px;
    height: 200px;
    border: 1px solid blue;
    object-fit: cover;
    object-position: top left;
} */

.boundaries {
    padding-left: 50px;
    padding-right: 50px;
}

.mini-card-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin: 0 0 1.5rem;
    position: relative;

}

/* .card {
    width: 200px;
    height: auto;
    background-color: #219EBC;
    margin: 5px 0px 0 -25px;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .3);

} */

.mini-card {
    padding: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(85deg, #434343, #262626);
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
}

main .mini-card {
    min-width: 300px;
    min-height: 350px;
    box-shadow: -2rem 0 3rem -2rem #000;
}

.mini-card:hover {
    transform: translateY(-1rem) rotate(3deg);
}

.mini-card li span {
    color: var(--middle-blue-green);
    font-weight: 700;
}


.module {
    clear: both;
    margin: 0 0 1rem;
    position: relative;
}


/* From Useful links */
.container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;

}


.footer {
    /* background-color: orangered; */
    /* grid-area: footer; */
    text-align: center;
}