.container {
    width: 500px;
    height: 500px;
    background-color: aqua;
    padding: 10px;
}

.box {
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.box-one {
    background-color: gold;
}

/* copy for other boxes */
.box-two {
    background-color: orange;
    border-radius: 50px;
}

.box-three {
    background-color: orangered;
}

.shadow {
    box-shadow: 5px 5px 5px black;
}